{% set date = date if date else post.data.date %}

<div class="post-full-byline">
	<section class="post-full-byline-content">
		<ul class="author-list">
			<li class="author-list-item">
				<div class="author-card">
					<img class="author-profile-image" src="/public/images/2025/12/me-beads.jpg" alt="Clive Murray">

					<div class="author-info">
						<div class="bio">
							<h2>Clive Murray</h2>

							<p>Rock guitarist and gentleman adventurer from a land before time.</p>
						</div>
					</div>
				</div>

				<a href="/about" class="author-avatar">
					<img class="author-profile-image" src="/public/images/2025/12/me-beads.jpg" alt="Clive Murray">
				</a>
			</li>
		</ul>

		<section class="post-full-byline-meta">
			<h4 class="author-name"><a href="/about">Clive Murray</a></h4>

			<div class="byline-meta-content">
				<time class="byline-meta-date" datetime="{{ date | dateHyphenated }}">{{ date | dateComfortable }}</time>

				<span class="byline-reading-time"><span class="bull">•</span> {{ readingTime }} min read</span>
			</div>
		</section>
	</section>
</div>
