<div class="blog-comments js-only">
	{#
  <h2>Speak Your Brains</h2>

  <script type="module" src="https://saffronmurray.com/meh/meh.esm.js"></script>

  <meh-form site="blog" external-styles="/public/css/{{assets.meh.css}}">
    <meh-login site="blog" external-styles="/public/css/{{assets.meh.css}}"></meh-login>
  </meh-form>
  <meh-comments site="blog" external-styles="/public/css/{{assets.meh.css}}"></meh-comments>

  <p class="comments-credit">Comments system: <a href="https://github.com/splitbrain/meh">Meh</a> from <a href="https://www.splitbrain.org/">Splitbrain</a></p>
  #}
  <h2>Comments</h2>
  <p>I used to have a comments system here, called <a href="https://github.com/splitbrain/meh">Meh</a> (made by <a href="https://www.splitbrain.org/">Splitbrain</a>). It's really good, and I recommend it, but the Raspberry Pi that it was running on needed reformatting, and I didn't have the patience with Python to set it up again. Sorry.</p>
</div>
