<footer>

	<div class="outer">
		<div class="inner">
			<p class="footer-text">
				&copy; <a href="https://clivemurray.com/">Clive Murray</a>. All Fights Deserved.
				Built with <a href="https://11ty.dev/">11ty</a> and hosted on <a href="https://pages.github.com/">Github Pages</a>.
			</p>
			<p class="footer-text">
				<a href="https://blacklivesmatter.com/">Black Lives Matter 🖤</a>.
				<a href="https://ukraine.europarl.europa.eu/en/">I Stand With Ukraine 🇺🇦</a>.
				<a href="https://www.amnesty.org.uk/trans-rights">Trans Rights Are Human Rights 🏳️‍⚧️</a>.
				<a href="https://www.theverge.com/24293448/x-twitter-musk-deactivate-how-to">Get off Twitter</a>.
			</p>

		</div>
	</div>

</footer>
