<header class="site-home-header">

	<style type="text/css">
		.responsive-header-img {
			background-image: url(/public/images/size/w2000/2021/08/Underworld_013crop2.jpg);
		}

		@media(max-width: 1000px) {
			.responsive-header-img {
				background-image: url(/public/images/size/w1000/2021/08/Underworld_013crop2.jpg);
				background-image: -webkit-image-set(url(/public/images/size/w1000/2021/08/Underworld_013crop2.jpg) 1x,
					url(/public/images/size/w2000/2021/08/Underworld_013crop2.jpg) 2x);
				background-image: image-set(url(/public/images/size/w1000/2021/08/Underworld_013crop2.jpg) 1x,
					url(/public/images/size/w2000/2021/08/Underworld_013crop2.jpg) 2x);
			}
		}

		@media(max-width: 600px) {
			.responsive-header-img {
				background-image: url(/public/images/size/w600/2021/08/Underworld_013crop2.jpg);
				background-image: -webkit-image-set(url(/public/images/size/w600/2021/08/Underworld_013crop2.jpg) 1x,
					url(/public/images/size/w1000/2021/08/Underworld_013crop2.jpg) 2x);
				background-image: image-set(url(/public/images/size/w600/2021/08/Underworld_013crop2.jpg) 1x,
					url(/public/images/size/w1000/2021/08/Underworld_013crop2.jpg) 2x);
			}
		}
	</style>

	<div class="outer site-header-background responsive-header-img">
		<div class="inner">
			{% include "nav.njk" %}

			<div class="site-header-content">
				<h1 class="site-title">
					insince.re
				</h1>

				<h2 class="site-description">I play guitar, you know</h2>
			</div>
		</div>
	</div>
</header>
