<img class="post-card-image" srcset="/public/images/size/w300/{{ post.data.ghost_header_image }} 300w,
						/public/images/size/w600/{{ post.data.ghost_header_image }} 600w,
						/public/images/size/w1000/{{ post.data.ghost_header_image }} 1000w,
						/public/images/size/w2000/{{ post.data.ghost_header_image }} 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="/public/images/size/w600/{{ post.data.ghost_header_image }}" alt="{{ post.title }}">
