<img srcset="/public/images/size/w300/{{ ghost_header_image }} 300w,
						/public/images/size/w600/{{ ghost_header_image }} 600w,
						/public/images/size/w1000/{{ ghost_header_image }} 1000w,
						/public/images/size/w2000/{{ ghost_header_image }} 1200w" sizes="(max-width: 400px) 300px, (max-width: 600px) 600px, (max-width: 1000px) 1000px, 1040px" loading="lazy" src="/public/images/size/w600/{{ ghost_header_image }}" alt="{{ post.title }}">
