<header class="site-header">
	<h1>Site Header - {{ layoutType }} layout</h1>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/clives-album-of-the-year-2020/">A Post</a></li>
		<li><a href="/guitars/">A Page</a></li>
	</ul>

</header>
