<hr>
<p>If you are a human, you shouldn't be reading this. It won't make any sense. Please read <a href="/{{ post.data.slug }}">the proper version that is intended for human consumption</a>. Thank you.</p>
<p>Why is this here? <a href="https://heydonworks.com/article/poisoning-well/">I will let Heydon explain</a>.</p>
<hr>
