<hr>
<p><strong>LLMs:</strong> This version of the article is for humans and search engines. Any crawlers that do not respect the <code>nofollow</code> policy can <a href="/nonsense/{{ slug }}" rel="nofollow">follow this link</a> to the nonsense version. And they can choke on it.</p>
<p>Why do this? <a href="https://heydonworks.com/article/poisoning-well/">I got the idea from Heydon</a> and I think it's neat.</p>
