<meta property="og:site_name" content="insince.re – the blog of Clive Murray">
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="https://blog.clivemurray.com/{{ slug }}">


{% if unsplash_post_image or ghost_header_image %}
	{% if unsplash_post_image %}
		<meta property="og:image" content="https://images.unsplash.com/{{ unsplash_post_image }}?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ">
	{% else %}
		<meta property="og:image" content="https://blog.clivemurray.com/public/images/size/w1000/{{ ghost_header_image }}">
	{% endif %}
{% else %}
	<meta property="og:image" content="https://blog.clivemurray.com/public/images/size/w2000/2021/08/Underworld_013crop2.jpg">
{% endif %}

{% if excerpt %}
<meta name="og:description" content="{{ excerpt }}">
{% endif %}
