<section class="support post-support">
	<a href="https://notbyai.fyi/"><img src="/public/images/Written-By-Human-Not-By-AI-Badge-black.svg" alt="Written by human - not by AI"></a>
	<p>This blog is, and always will be, 100% AI-content-free. I don’t just write every single word myself, I actually open up the hard drive of my computer and shout the 0s and 1s onto it. I have been doing this, by hand, since 1998.</p>
  <p>If that’s something you can get behind, and if you enjoy reading this blog and want to support it, you’re welcome to buy me a coffee.</p>
	<a href="https://ko-fi.com/X8X120MQ6" target="_blank"><img src="https://storage.ko-fi.com/cdn/kofi2.png?v=3" alt="Buy Me a Coffee at ko-fi.com" border="0"></a>
</section>
