:host {
	div.sort-options {
		margin-top: 3em !important;

		& > * {
			font-size: 1em;
			display: inline-block;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	div.comment {
		font-size: 1em;

		& > :last-child {
			padding-bottom: 0.5em;
		}

		time.date {
			font-size: 0.75em;
		}
	}

	div.no-comments {
		font-size: 1.25em;
		margin-top: 2em;
		padding-block: 2rem;
		border-top: 1px solid #0002;
	}
}
