@use "sass:color";

:host {
	form {
		label,
		input[type="text"],
		input[type="email"],
		input[type="url"],
		textarea {
			font-family: var(--body-copy-font), sans-serif;
			font-size: 1em;
		}

		label {
			font-family: var(--heading-font);
		}

		input[type="text"],
		input[type="email"],
		input[type="url"],
		textarea {
			border: none;
			border-bottom: 1px solid var(--meh-default-foreground);
			background-color: var(--meh-form-element-bg);

			&:focus {
				outline: 1px solid var(--meh-default-foreground);
				border: none;
			}
		}

		button {
			font-family: var(--heading-font);
			font-size: 0.75em;
			background-color: var(--meh-form-element-bg);

			&:hover {
				// this function cribbed from https: //rijsdam.nl/blog/replacing-sass-darken-and-lighten-functions-with-pure-css
				background-color: hsl(from var(--meh-form-element-bg) h s calc(l - 10));
			}
		}
	}
}
