---
"layout": "frame"
---
<header class="site-header">
	{% include "header.njk" %}
</header>

<main id="site-main" class="site-main outer">

	<div class="inner">

		{{ content | safe }}

	</div>

</main>

{% include "footer.njk" %}
