---
"layoutType": "main"
"layout": "frame.njk"
---
{% include "front-header.njk" %}

<main id="site-main" class="site-main outer">

	<div class="inner posts">

		<div class="post-feed">

			{{ content | safe }}

		</div>

	</div>

</main>

<div class="outer site-nav-main">
	<div class="inner">
		{% include "nav.njk" %}
	</div>
</div>

{% include "footer.njk" %}
