---
"layoutType": "main"
"title": "insince.re :: The Blog of Clive Murray"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  {{> headparts }}
</head>
<body>

  {{> front-header }}

  <main id="site-main" class="site-main outer">

  	<div class="inner posts">

  		<div class="post-feed">

	  		{{{ content }}}

  		</div>

  	</div>

  </main>

  {{> footer }}

	{{> script }}

</body>
</html>
