---
"layoutType": "main"
"title": "insince.re :: The Blog of Clive Murray"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  {% include "headparts.njk" %}
</head>
<body>

  {% include "front-header.njk" %}

  <main id="site-main" class="site-main outer">

  	<div class="inner posts">

  		<div class="post-feed">

	  		{{ content | safe }}

  		</div>

  	</div>

  </main>

  {% include "footer.njk" %}

	{% include "script.njk" %}

</body>
</html>
