---
"permalink": "/{{ slug }}/"
"layoutType": "page"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	{{> headparts }}
</head>
<body class="page-template">

	<div class="site-wrapper">

		<header class="site-header">
			{{> header }}
		</header>

		<main id="site-main" class="site-main outer">

			<div class="inner">

				<article class="post-full post page">

					<header class="post-full-header">
						<h1 class="post-full-title">{{ title }}</h1>
					</header>

					{{#if main_image_filename}}
						{{> main_image }}
					{{/if}}

					<section class="post-full-content">

						<div class="post-content">

<!-- BEGIN MARKDOWN OUTPUT -->
{{{ content }}}
<!-- BEGIN MARKDOWN OUTPUT -->

						</div>

					</section>

				</article>

			</div>

		</main>

		{{> footer }}

	</div>

	{{> script }}

</body>
</html>
