---
"permalink": "/{{ slug }}/"
"layoutType": "page"
"layout": "content.njk"
---
<article class="post-full post page">

	<header class="post-full-header">
		<h1 class="post-full-title">{{ title }}</h1>
	</header>

	{% if main_image_filename %}
		{% include "main_image.njk" %}
	{% endif %}

	<section class="post-full-content">

		<div class="post-content">

<!-- BEGIN MARKDOWN OUTPUT -->
{{ content | safe }}
<!-- BEGIN MARKDOWN OUTPUT -->

		</div>

	</section>

</article>
