---
permalink: "/{{ slug }}/"
layoutType: post
layout: content
---
{% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
{% set fixedContent = content | replace(regExpCode, "") | striptags %}
{% set wordCount = fixedContent | wordcount %}
{% set readingRate = 225 %}
{% set readingTime = (wordCount/readingRate) | round %}
{% if readingTime < 1 %}{% set readingTime = 1 %}{% endif %}

<article class="post-full post">

	<header class="post-full-header">
		<section class="post-full-tags">
			{% include "post-tags.njk" %}
		</section>

		<h1 class="post-full-title">{{ title }}</h1>

		{% include "byline.njk" %}

	</header>

	{% if unsplash_post_image or ghost_header_image %}
	<figure class="post-full-image">
		{% if unsplash_post_image %}
			{% include "unsplash_post_image_holder.njk" %}
		{% else %}
			{% include "ghost_post_image_holder.njk" %}
		{% endif %}
		{% if header_image_caption %}
			<figcaption>{{ header_image_caption | safe }}</figcaption>
		{% endif %}
	</figure>
	{% endif %}

	<section class="post-full-content">

		<div class="post-content">

<!-- BEGIN MARKDOWN OUTPUT -->
{{ content | safe }}
<!-- END MARKDOWN OUTPUT -->

		</div>

		{% include "post-support.njk" %}

	</section>

	{#
	<section class="post-pagination">
	<h3>PAGINATION</h3>
		<ul>
			{% if postsForPagination.href.previous %}
				<li><a href="{{ postsForPagination.href.previous }}">Previous</a></li>
			{% endif %}
			{% if postsForPagination.href.next %}
				<li><a href="{{ postsForPagination.href.next }}">Next</a></li>
			{% endif %}
		</ul>
	</section>
	 #}

</article>

<canvas id="canvas"></canvas>
