---
permalink: "/{{ slug }}/"
layoutType: post
layout: content
---
{% include "post-topper.njk" %}

<section class="post-full-content">

	<div class="post-content">

		<!-- BEGIN MARKDOWN OUTPUT -->
		{{ content | safe }}
		<!-- END MARKDOWN OUTPUT -->

	</div>

	{% if not nonsense %}
		{% include "nonsense-para.njk" %}
		{% include "comments.njk" %}
	{% endif %}

	{% include "post-support.njk" %}

</section>

{% include "post-bottomer.njk" %}
