---
layout: main.njk
pagination:
  data: collections.post
  size: 1000
  reverse: true
  alias: posts
---

<section>
	<h2>TODO:</h2>

	<ul>
		<li>* import JS from live to arrange the homepage</li>
		<li>* figure out how to do the "reading time" thing</li>
		<li>* make a nice footer</li>
		<li>*	make a nice top nav</li>
		<li>* build in straplines somehow?</li>
		<li>* build the archive page</li>
		<li>* pare homepage down to 10(?) posts</li>
		<li>* make tag pages</li>
		<li>* do all the stuff for "pages" that I did for "posts"</li>
		<li>* go through images and somehow prune files that aren't needed</li>
		<li>* create posts that were made since the export</li>
		<li>* trawl through and find links to flickr, and replace with new pics</li>
		<li>* comments!</li>
	</ul>
</section>

<section>
	<h2>TO DONE!</h2>

	<ul>
		<li>* finish all old header images</li>
		<li>* excerpts for old posts that don't have one</li>
		<li>* check all posts have the 'post' tag AND a subject tag</li>
		<li>* images for posts that don't have one</li>
		<li>* get tags onto posts</li>
		<li>* get tags onto homepage post cards</li>
	</ul>
</section>


{% for post in posts %}
	{% if loop.first %}
  	<article class="post post-card post-card-large">
	{% else %}
  	<article class="post post-card">
  {% endif %}
    {% include "post-card.njk" %}
  </article>
{% endfor %}
