---
layout: main.njk
pagination:
  data: collections.post
  size: 1000
  pageNumber: 2
  reverse: true
  alias: posts
---
{#
TODO:

* excerpts for old posts that don't have one
* check all posts have the 'post' tag
* import JS from live to arrange the homepage
* make a nice footer
* build the archive page
* get tags onto posts
* get tags onto homepage post cards
* make tag pages
* go through images and somehow prune files that aren't needed


TO DONE!

* finish all old header images

#}

{% for post in posts %}
	{% if loop.first %}
  	<article class="post post-card post-card-large">
	{% else %}
  	<article class="post post-card">
  {% endif %}
    {% include "post-card.njk" %}
  </article>
{% endfor %}
