---
layout: "content.njk"
layoutType: page
title: Tags
---
{% set theTags = [] %}
{% for tag, val in collections.tagsList %}
	{% if tag !== 'post' %}
		{% set theTags = (theTags.push(tag), theTags) %}
	{% endif %}
{% endfor %}

<article class="post-full post page">
	<header class="post-full-header">
		<h1 class="post-full-title">{{ title }}</h1>
	</header>

	<section class="post-full-content">
		<div class="post-content">

			<!-- BEGIN TAGS PAGE -->

			<h2>Tags ({{ theTags.length }})</h2>

			<ul>
				{% for tag in theTags | sort %}
					{% if tag !== 'post' %}
						<li><a href="/tag/{{ tag | lower | slugify }}">{{ tag | title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>

			<!-- END TAGS PAGE -->

		</div>
	</section>
</article>
