body.js {
	.aoty-mention {
		scale: 0.9;
		opacity: 0.4;
	}

	.aoty-winner {
		scale: 0.5;
		opacity: 0.4;
	}

	.mention-visible {
		animation: mention-effect ease-in forwards 0.3s;
	}

	.winner-visible {
		animation: winner-effect ease-in forwards 0.75s;
	}

	@keyframes mention-effect {
		100% {
			scale: 1;
			opacity: 1;
		}
	}

	@keyframes winner-effect {
		0% {
			transform: rotate(0deg);
		}

		10% {
			transform: rotate(-10deg);
		}

		20% {
			transform: rotate(10deg);
		}

		30% {
			transform: rotate(-10deg);
		}

		40% {
			transform: rotate(10deg);
		}

		50% {
			transform: rotate(-10deg);
		}

		60% {
			transform: rotate(10deg);
		}

		70% {
			transform: rotate(-10deg);
		}

		80% {
			transform: rotate(10deg);
		}

		90% {
			transform: rotate(-10deg);
		}

		100% {
			scale: 1;
			opacity: 1;
			transform: rotate(0deg);
		}
	}
}
