$headingFont: "Spectral";
$bodyCopyFont: "InclusiveSans";

@import "fonts";
@import "ghost01";
@import "ghost02";
@import "ghost03";
@import "ghost04";
@import "ghost05";
@import "ghost06";

p.footer-text {
	margin: 10px 0;
	text-align: center;
}

details {
	width: 100%;
	margin-bottom: 1rem;
}

summary {
	cursor: pointer;
}

summary span.archive-year {
	text-decoration: underline;
	font-size: 3rem;
}

details[open] summary span.archive-year {
	text-decoration: none;
	font-style: italic;
}

.post-full-content ul.archive-list {
	margin-top: 2.5rem;
}

.archive-list li {
	margin-left: 3rem;
}
