$headingFont: "Black-Charms";
$bodyCopyFont: "Atkinson-Hyperlegible";

@import "partials/fonts";
@import "partials/confetti";
@import "partials/ghost01";
@import "partials/ghost02";
@import "partials/ghost03";
@import "partials/ghost04";
@import "partials/ghost05";
@import "partials/ghost06";
@import "partials/image-effects";
@import "partials/comments";

:root {
	--meh-default-accent: #922;
	--meh-default-background: #f8f9fa;
	--meh-default-foreground: #212529;
	--meh-default-spacing: 1em;
	--meh-default-border-radius: 0;
	--meh-default-success: green;
	--meh-default-error: darkred;
}

p.footer-text {
	margin: 10px 0;
	text-align: center;
}

details {
	width: 100%;
	margin-bottom: 1rem;
}

summary {
	cursor: pointer;
}

summary span.archive-year {
	text-decoration: underline;
	font-size: 3rem;
}

details[open] summary span.archive-year {
	text-decoration: none;
	font-style: italic;
}

.post-full-content ul.archive-list {
	margin-top: 2.5rem;
}

.archive-list li {
	margin-left: 3rem;
}
